<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicEvent",
  "name": {{ page.title | jsonify }},
  "startDate": {{ page.event_date | date_to_xmlschema | jsonify }},
  "eventStatus": "https://schema.org/{% if page.cancelled %}EventCancelled{% else %}EventScheduled{% endif %}",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "location": {
    "@type": "Place",
    "name": {{ page.venue | jsonify }},
    "address": {{ page.location | jsonify }}
  },
  "performer": {
    "@type": "MusicGroup",
    "name": {{ site.title | jsonify }},
    "url": {{ site.url | append: site.baseurl | jsonify }}
  },
  "url": {{ page.url | absolute_url | jsonify }}{% if page.ticket_url %},
  "offers": {
    "@type": "Offer",
    "url": {{ page.ticket_url | jsonify }},
    "availability": "https://schema.org/{% if page.sold_out %}SoldOut{% else %}InStock{% endif %}"
  }{% endif %}
}
</script>
